<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About Us</title>
  </head>
  <body style="background-color: whitesmoke; position: relative">
    <div class="imag"></div>
    <%- include("./partials/header") %>
    <div class="container">
      <p class="text1">About Us</p>
      <div class="line"></div>
      <p class="text2">
        We are a family-owned business that has been serving delicious burgers for over 20 years. 
        Our mission is to provide our customers with the highest quality food and service.
      </p>
    </div>
  </body>
</html>