  <body style="background-color: whitesmoke; position: relative">

<div class="swiper mySwiper slider_wrapper">
    <div class="swiper-wrapper">
        
        <div class="swiper-slide">
            <div class="imag" style="background-image: url('/Resources/home_burger_slider_bg.jpg');"></div>
            
            <div class="col">
                <img src="/Resources/home_burger_slider_icons.png" alt="Icons" class="img" />
                <div class="main_text">
                    <p>ORDER BURGERS</p>
                    <p>ONLINE</p>
                </div>
                <div class="button">CHECK MENU</div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="imag" style="background-image: url('/Resources/home_burger_slider_bg2.jpg');"></div>
            
            <div class="col">
                <img src="/Resources/home_burger_slider_icons.png" alt="Icons" class="img" />
                <div class="main_text">
                    <p>ORDER BURGERS</p>
                    <p>ONLINE</p>
                </div>
                <div class="button">CHECK MENU</div>
            </div>
        </div>

    </div>
    
    <div class="swiper-pagination"></div>
</div>
    
    
    <div class="container">
      <p class="text1">BEST SELLING BURGERS</p>
      <div class="line"></div>

      <p class="text2">
        Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
        quia dolor sit, magnam aliquam quaerat voluptatem.
      </p>
      <div class="buttons">
        <a href="" class="button1">
          <span style="color: black">Read more about us</span></a
        >
        <a
          class="button1"
          style="background-color: #e3ca96; width: 48%"
          href=""
        >
          <span style="color: white">Check promotions</span></a
        >
      </div>
    </div>
    <div class="container2">
      <div class="row1">
        <div class="item1">
          <img
            src="/Resources/home_burger_pic1.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Big Steak Burger <span class="theme_color">$6</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item1">
          <img
            src="/Resources/home_burger_pic2.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Classic Burger <span class="theme_color">$7</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
      <div class="row2">
        <div class="item2">
          <img
            src="/Resources/home_burger_pic3.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Dubble Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic4.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Blue Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic5.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Becon Cheeseburger <span class="theme_color">$3</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic6.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Texas Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
    </div>
    <div class="container3" style="background-image: url(/Resources/home_burger_section_bg1.jpg);">
      <img src="/Resources/home_burger_slogan.png" alt="">
    </div>
    <div class="container4">
      <div>
        <p class="text1" style="margin-bottom: 20px;">MAYBE A DESSERT?</p>
      </div>
      <div class="line"></div>
      <div class="inner">
      <div><img src="/Resources/home_burger_pic7.jpg" alt=""></div>
      <div class="text_col"><p class="item_name" style="text-align: left;">Choco Pie <span class="theme_color">$4</span></p>
      <p class="item_desc" style="text-align: left;">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
          <p class="item_name" style="text-align: left;">Fresh fruits <span class="theme_color">$3</span></p>
      <p class="item_desc" style="text-align: left;">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
          <p class="item_name" style="text-align: left;">Pancake <span class="theme_color">$5</span></p>
      <p class="item_desc" style="text-align: left;">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>

          <a href= "" class="button2">
            Check more
          </a>
        </div>
      </div>
      <div class="line"></div>
      <h3 style="font-size: 30px; line-height: 32px; font-weight: 400;letter-spacing: 1px; text-align: left; width: 67%;" class="text1">
        We love making burgers
      </h3>
      <div style="display: flex;width: 67%; margin-top: 30px; gap: 30px;">
        <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 15px;">
          <p class="item_desc" style="text-align: left;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
          <p class="item_desc" style="text-align: left;">Totam rem aperiam, eaque ipsa quae ab illo inv odit aut fugit, sed quia consequuntur magciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli.
</p>
          <p class="item_desc" style="text-align: left;">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 15px;">
          <p class="item_desc" style="text-align: left;">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua.</p>
          <p class="item_desc" style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labori</p>
          <p class="item_desc" style="text-align: left;">Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
        </div>
      </div>
    </div>
  </body>