<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Menu</title>
  </head>
  <body style="background-color: whitesmoke; position: relative">
    <div class="imag"></div>
    <div class="menu_box">
      <div class="logobox">
        <img
          src="/Resources/retina-burger.png"
          alt=""
          width="50%"
          height="50%"
        />
      </div>
      <div>
        <ul class="menu">
          <li>
            <a href="/">
              <link rel="stylesheet" href="" />
              Home
            </a>
          </li>
          <li>
            <a href="/about">
              <link rel="stylesheet" href="" />
              About
            </a>
          </li>
          <li>
            <a href="/menu">
              <link rel="stylesheet" href="" />
              Menu & prices
            </a>
          </li>
          <li>
            <a href="/contact">
              <link rel="stylesheet" href="" />
              Contact us
            </a>
          </li>
          <li>
            <a href="">
              <link rel="stylesheet" href="" />
              Buy now
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container2">
      <div class="row1">
        <div class="item1">
          <img
            src="/Resources/home_burger_pic1.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Big Steak Burger <span class="theme_color">$6</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item1">
          <img
            src="/Resources/home_burger_pic2.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Classic Burger <span class="theme_color">$7</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
      <div class="row2">
        <div class="item2">
          <img
            src="/Resources/home_burger_pic3.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Dubble Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic4.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Blue Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic5.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Becon Cheeseburger <span class="theme_color">$3</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic6.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Texas Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>