<div class='box' id="box" style="background-color: whitesmoke;">
<div class="menu_box" id="menu">
      <div class="logobox">
        <img
          src="/Resources/retina-burger.png"
          alt=""
          width="50%"
          height="50%"
        />
      </div>
      <div>
        <ul class="menu">
          <li>
            <a href="/">
              <link rel="stylesheet" href="" />
              Home
            </a>
          </li>
          <li>
            <a href="/About">
              <link rel="stylesheet" href="" />
              About
            </a>
          </li>
          <li>
            <a href="/menu">
              <link rel="stylesheet" href="" />
              Menu & prices
            </a>
          </li>
          <li>
            <a href="/contact">
              <link rel="stylesheet" href="" />
              Contact us
            </a>
          </li>
          <li>
            <a href="/buy-now">
              <link rel="stylesheet" href="" />
              Buy now
            </a>
          </li>
          <li>
            <a href="/cart">
              <link rel="stylesheet" href="" />
              Cart <% if (session && session.cart && session.cart.length > 0) { %>(<%= session.cart.length %>) <% } %>
            </a>
          </li>
          <li>
            <a href="/Burgers/products">
              <link rel="stylesheet" href="" />
              Admin
            </a>
          </li>
          <% if (session && session.email === 'admin@shop.com') { %>
          <li>
            <a href="/admin/orders">
              <link rel="stylesheet" href="" />
              Orders
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
</div>