<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Menu</title>
  </head>
  <body style="background-color: whitesmoke; position: relative">
     <div class="subheader" style="background-image: url(/Resources/home_burger_subheader.jpg);">
      <p class="text1" style="color:#eee3df; font-size: 60px; margin-top: 150px;">MENU & PRICES</p>
    </div>
    <div class="item_name" style="font-size: 45px; letter-spacing: 6px; display: block; margin-top: 60px;">BURGERS</div>
    <div class="line" style="margin-top: 40px;"></div>
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
    <p class="text2">Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit, magnam aliquam quaerat voluptatem.</p>
    </div>
    <div class="container2">
      <div class="row1" style="gap: 20px;">
        <div class="item2">
          <img
            src="/Resources/home_burger_pic3.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Dubble Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic4.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Blue Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic5.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Becon Cheeseburger <span class="theme_color">$3</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
      <div class="row1" style="gap: 20px;">
        <div class="item2">
          <img
            src="/Resources/home_burger_pic6.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Texas Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
         <div class="item2">
          <img
            src="/Resources/home_burger_pic5.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Becon Cheeseburger <span class="theme_color">$3</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic4.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Blue Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
      <div class="row1">
        <div class="item2">
          <img
            src="/Resources/home_burger_pic3.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Dubble Cheese Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic6.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <p class="item_name">
            Texas Burger <span class="theme_color">$4</span>
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>
    </div>
    <div class="item_name" style="font-size: 45px; letter-spacing: 6px; display: block; margin-top: 60px;">DESSERT</div>
    <div class="line" style="margin-top: 40px;"></div>
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
    <p class="text2">Integer commodo laoreet hendrerit. Aliquam nec consectetur lorem! Vestibulum dignissim odio quis ornare fermentum. Nunc arcu nunc; luctus sit amet congue metus.</p>
    </div>
    <div class="row1" style="gap: 20px;">
        <div class="item2">
          <img
            src="/Resources/home_burger_pic9.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <h1 class="theme_color item_name">$6</h1>
          <p class="item_name">
            Magnam aliquam
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic8.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
           <h1 class="item_name theme_color">$7</h1>
          <p class="item_name">
           
           Placerat rhoncus
          </p>
          <p class="item_desc">
            Proin ac mi sollicitudin, accumsan ipsum quis, ornare turpis. Ut euismod ex vitae placerat rhoncus.
          </p>
        </div>
        <div class="item2">
          <img
            src="/Resources/home_burger_pic10.jpg"
            alt=""
            style="width: 100%; height: auto"
          />
          <h1 class="item_name theme_color">$2</h1>
          <p class="item_name">
           Neque porro
          </p>
          <p class="item_desc">
            Aluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit, magnam aliquam quaerat voluptatem.
          </p>
        </div>
      </div>

      <div style="border: 4px solid #e3ca96; width: 66%; height: 175px; justify-self: center; margin-top: 40px;">
        <h1 class="item_name" style="text-align: center; font-size: 45px; letter-spacing: 10px; margin-top: 65px;">BON APPETIT!</h1>
      </div>
  </body>
</html>