<div style="background-color: whitesmoke;">
<div style="width: 100%; display: flex; justify-content: center;">
    <img src="/Resources/home_burger_footer.jpg"/>
</div>
<div style="background-color: rgba(49, 28, 15, 255); height: 100px; display: flex; justify-content: center; align-items: center;">
    <p style="font-family: Arvo, serif; color: bisque;font-size:medium ;">© 2021 Betheme by Muffin group | All Rights Reserved | Powered by WordPress</p>
</div>
</div>