<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Contact Us</title>
  </head>
  <body style="background-color: whitesmoke; position: relative">
    <div class="subheader" style="background-image: url(/Resources/home_burger_subheader.jpg);">
      <p class="text1" style="color:#eee3df; font-size: 60px; margin-top: 150px;">CONTACT US</p>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <p class="text1" style="color: #a3744d;">Call us +61 (0) 3 8376 6284</p>
      <p class="text2" style="width: 70%;">Odit aut fugit, sed quiaconsequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
</p>
      <div style="width: 70%; display: flex; align-items: first baseline; gap: 60px;">
        <p class="text1" style="font-size: medium; width: 30%; letter-spacing: normal;">Cras dignissim iaculis arcu? Etiam iaculis at ipsum efficitur facilisis. Sed vel elit cursus, luctus libero sit amet, congue ante! Aenean ut massa eu lacus sed.</p>
        <div style="display: flex; flex-direction: column; align-items: left; width: 30%;">
          <p class="text2" style="font-size: 14px; width: 100%; text-align: left; justify-content: left;">Monday - Friday</p>
          <div class="line" style="margin-top: -6px; height: 1px; width: 40%;"></div>
          <p class="text1" style="font-size: xx-large; margin-top: 10px; font-weight: 300; letter-spacing: normal; color: #e3ca96;">8am - 4pm</p>
          <p class="text2" style="font-size: 14px; width: 100%; text-align: left; justify-content: left;">Saturday</p>
          <div class="line" style="margin-top: -6px; height: 1.5px; width: 25%;"></div>
          <p class="text1" style="font-size: xx-large; margin-top: 10px; font-weight: 300; letter-spacing: normal; color: #e3ca96;">8am - 3pm</p>
        </div>
        <div style="width: 60%;">
          <p class="text1" style="font-size: medium; letter-spacing: normal;">Cras eros est, ornare ut tellus sit amet, malesuada pharetra elit. Nulla facilisi. Proin ut eleifend quam.</p>
          <div style="display: flex;">
            <p class="text2" style="font-size: 14px; text-align: left;">Sed et tellus id libero finibus iaculis. Nulla facilisi. Etiam at sapien et nisi lacinia dapibus. Maecenas pulvinar volutpat tincidunt. Praesent rhon cus nullam lacinia .</p>
            <p class="text2" style="font-size: 14px; text-align: left;">Morbi lectus sapien, viverra elem entum nulla vitae, condi mentum pretium felis. Donec hendrerit mi mi, at pulvinar lorem venenatis sed. Cum sociis natoque metus.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>